/* .main__banner{
    width: 100%;
    overflow: hidden;
    margin: 0 auto 50px;
    position: relative;
    min-width: 1240px;
    max-width: 3840px;
    min-height: 598px;
    background-color: #1b1b1b;
    color : #a5a5a5;
    padding-top: 109px;
}
*/
#movie__name{
    text-align: center;
    display : block;
    margin : auto;
    padding-top: 109px;
} 

.main__banner{
    background-color: #1b1b1b;
    color : #a5a5a5;

}