ul {
    list-style: none;
}


.z5 {
    z-index: 5;
    position: relative;
}

.back {
    z-index: -1;
    position: relative;
    width: 100%;
    height: 3000px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./back2.jpg");
    background-repeat: no-repeat;
    position: absolute;
    filter: blur(5px);
    z-index: 1;
}

.navbar {

    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 5;
}

.navbar_menu {
    display: flex;
    line-height: 40px;
    margin-top: 0;
}

.nav_item {
    padding: 20px;
    cursor: pointer;
}

.landing_btn {
    background-color: gray;
}

.content {
    position: relative;
    width: 400px;
    height: 600px;
    background-color: red;
    z-index: 6;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url("./back2.jpg");
    background-size: cover;
}

.content_p {
    text-align: center;
}

.list_content {
    color: white;
}