.App {
    background-color: #1b1b1b;
    min-height: 100vh;
    padding-top: 109px;
}

.App header {
    background: #252525;
}

.App__header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    max-width: 1100px;
}

.App__title {
    color: #fff;
    font-weight: 400;
    font-size: 24px;

}

.App__switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}

.App__switcher-switch {
    margin: 0 0.25rem;
}