.results p {
  font-size: 1.25rem;
}

.results__wrapper {
  display: flex;
  margin-top: 1rem;
  padding-top: 65px;
}

.results__emoji {
  color: #eaeaea;
}

.results__text {
  width: 300px;
}

.results__emoji svg {
  margin-right: 0.75rem;
}
