@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login__background {
    background: #1B1B1B;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

.login__page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    text-align: center;
}

.login__title {
    font-weight: bold;
    color: #FFFFFF;
}

.login__form {
    position: relative;
    z-index: 1;
    background: #252525;
    max-width: 360px;
    margin: 0 auto 100px;
    margin-top: 20px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input:-webkit-autofill {
    font-family: "Roboto", sans-serif;
    box-shadow: 0 0 0 1000px #2F2F2F inset;
    -webkit-text-fill-color: #FFFFFF !important;
}

.login__form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #2F2F2F;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #FFFFFF;
}

.login__form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #1351f9;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.login__form button:hover,
.login__form button:active,
.login__form button:focus {
    background: #13385c;
}

.login__form .login__message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.login__form .login__message a {
    color: #43678B;
    text-decoration: none;
}