/**/
.mypage__backgnd {
    padding-top: 109px;
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-color: #1b1b1b;
}

.mypage__info {
    height: 133px;
    padding: 24px 0 34px;
    width: 100%;
    margin: 20px auto;
    background-color: #252525;
    border-top: 1px solid #1b1b1b;
}

.mypage__wrap {
    margin: 0 auto;
    width: 1240px;
    height: 100%;
    display: flex;
}

.mypage__user__ {
    border-right: 1px solid #1b1b1b;
}

.mypage__info .mypage__user__L,
.mypage__info .mypage__user__R {
    width: 50%;
    height: 100%;
    vertical-align: middle;
}

.mypage__user__img img {
    width: 100px;
    height: 100px;
}

.mypage__info .mypage__user__L>div {
    display: inline-block;
    vertical-align: middle;
}

.mypage__user__infoBox {
    margin-left: 50px;
    line-height: 35px;
    font-size: larger;
}

.mypage__user__L {
    margin-top: 19px;
}

.mypage__user__img img {
    border: 0;
    vertical-align: middle;
    border-radius: 50%;
}

.mypage__user__name {
    color: #FFFFFF;
}

.mypage__user__innerText,
.mypage__user__matadata__list,
.mypage__user__matadata__list a {
    color: #A5A5A5;
}

.mypage__user__matadata {
    float: right;
    height: 100%;
    line-height: 138px;
}

.mypage__user__matadata__list {
    display: flex;
}

.mypage__user__matadata__list li {
    margin-right: 110px;
    font-size: larger;
}

.mypage__user__R {
    border-left: 1px solid #1b1b1b;
}