.comment .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid rgba(248, 249, 250, 0.3);
    padding: 12px 0;
}

.content_wrap {
    margin-left: 20px;
}

.comment .text {
    display: flex;
    flex-flow: column;
    width: 100%;
    flex: 1 1;
}

.comment .nick {
    flex: 1 1;
    font-weight: bolder;
    color: #FFFFFF;
    margin-bottom: 8px;
    padding-top: 4px;
    display: inline-flex;
    align-items: center;

}

.comment .text .content p {
    margin-bottom: 4px;
}

div.content_wrap>div.content>p,
div {
    word-break: break-word;
}

.comment .text>div {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.content p {
    color: #FFFFFF;
}

.comment .date {
    font-size: 12px;
    color: rgba(216, 216, 216, 0.4);
}