.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 500px;
}

.editorWidth {
    width: 1100px;
    margin: auto;
}

.board__C__main {
    padding-top: 109px;
    width: 1100px;
    margin: 0 auto;
    background-color: #fff;
}

.board_top2 {
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #3254ce;
}

.form_wrapper {
    width: 1100px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
}


.title_input {
    width: 700px;
    height: 42px;
    margin-left: 10px;
}

.submit_button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding: 20px;
    border: none;
    background: indianred;
    border-radius: 5px;
    line-height: 12px;
    font-weight: bolder;
}